<mat-toolbar color="primary" class="mat-elevation-z6 background-primary">
	<mat-toolbar-row>
		<span>Manager Interface</span>
		<span class="header-button"><a mat-button routerLink='/home' routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a></span>
		<span class="header-button"><a mat-button routerLink='/users' routerLinkActive="active"><span class="fa fa-plug fa-lg"></span> Online Users</a></span>
		<span class="header-button"><a mat-button routerLink='/requests' routerLinkActive="active"><span class="fa fa-wrench fa-lg"></span> Pending Requests</a></span>
	</mat-toolbar-row>
</mat-toolbar>